/* Colors */
@value active: #5da6e2;
@value dark: #21252b;
@value background: #282c34;
@value border: #2f363d;
@value disabled: #9b9c9e;
@value white: #ffffff;
@value selected: #73ab84;
@value destructive: #FF5964;

/* sizes */
@value borderRadiusLg: 20px;

.button {
  display: inline-block;
  height: auto;
  padding: 10px 13px;
  color: white;
  font-weight: normal;
  font-size: 16px;

  font-family: 'Helvetica Neue', sans-serif;
  font-style: normal;
  line-height: 14px;

  text-decoration: none;
  background: active;
  border: none;
  border-radius: 3px;
  outline: none;
}

.link {
  padding: 5px 10px;
  color: active;
  text-decoration: none;
  background: none;
  border: none;
  border-bottom: 2px solid active;
}

.heading {
  margin-bottom: 30px;
  color: white;
  font-weight: 600;
  font-size: 32px;
  font-family: 'Helvetica Neue', sans-serif;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 14px;
}

.subTitle {
  color: disabled;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 14px;
}

.box {
  background-color: dark;
  border: 1px solid border;
  border-radius: 10px;
}

.markdown {
  color: white;
  font-size: 18px;
}

.markdown h1 {
  font-weight: bold;
  font-size: 26px;
}
.markdown h2 {
  font-weight: bold;
  font-size: 24px;
}
.markdown h3 {
  font-weight: bold;
  font-size: 20px;
}
.markdown h4 {
  font-weight: bold;
  font-size: 18px;
}

.markdown ul {
  padding-left: 20px;
  list-style: square;
}

.markdown ol {
  padding-left: 20px;
}

.markdown a {
  color: active;
}

.input {
  margin-bottom: 30px;
  color: white;
  background-color: dark;
  border-color: white;
}

.input:focus {
  border-color: active;
}
.input::placeholder {
  color: disabled;
}
