/*
******** RESET *********
**/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
******** FONTS *********
*/

/*---------------------------------------------------------------------------*
 * Replaced with Helvetica Neue. Feel free to customize...
 *---------------------------------------------------------------------------*/
 

